.temp {
  --text: #f2d0fb;
  --background: #1a0321;
  --primary: #f372ce;
  --secondary: #2f040d;
  --accent: #eb1443;
}

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-dark: #130217;
  --vt-c-dark-soft: #26042f;
  --vt-c-dark-mute: #380646;

  --vt-c-dark-alpha: #130217dd;
  --vt-c-dark-soft-alpha: #26042fdd;
  --vt-c-dark-mute-alpha: #380646dd;

  --vt-c-primary: #120217;
  --vt-c-primary-soft: #25042f;
  --vt-c-primary-mute: #370746;

  --vt-c-secondary: #bc1035;
  --vt-c-secondary-soft: #d3123c;
  --vt-c-secondary-mute: #eb1443;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-primary);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-dark);
    --color-background-soft: var(--vt-c-dark-soft);
    --color-background-mute: var(--vt-c-dark-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

html, body {
  color: var(--color-text);
  background: var(--color-background);
}

a {
  color: var(--vt-c-secondary);
}
