@import './reset.css';

@import './fonts.css';
@import './base.css';

@import './fields.css';

body {
  /*font-family: lunaHand, sans-serif;*/

  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 2rem;

  padding: .5rem 1rem;
}
